body {
  font-family: Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100%;
}

dd { 
  margin-bottom: 10px;
}

fieldset#tier-dropdown {
  position: absolute;
  right: 90px;
  top: 5px;
  z-index: 2005;
}
#city-choice {
  font-size: 20px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 33px;
  height: 33px;
}

/* popup styling */

.popup-fixed {
  position: fixed;
  /* top: 121px;
  bottom: 0 !important;
  left: 12px !important; */
  transform: none !important;
  margin: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  width: 365px;
  border-radius: 10px;
  float: right;
  position: fixed;
  right: 11px;
  top: 62px;
}
.leaflet-popup-content {
  width: 330px;
}
div.leaflet-popup-content-wrapper div div {
  width: 342px;
}

div.leaflet-popup-content-wrapper > div > div.title {
  color: #21ccb9;
  font-weight: bold;
  font-size: 16px;
}

div.leaflet-popup-content-wrapper div span.details-title,
div.leaflet-popup-content-wrapper div span.details-value {
  font-size: 14px;
  color: black;
}

div.leaflet-popup-content-wrapper span.details-value {
  color: #21ccb9;
}

div.leaflet-popup-content-wrapper > div > div.title {
  color: #21ccb9;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  width: 50%;
}
div.leaflet-popup-content-wrapper > div > div.url-copy-button {
  float: right;
  width: 0%;
  display: inline-block;
}
div.leaflet-popup-content-wrapper > div > div.url-copy-button:hover {
  cursor: pointer;
}

div.leaflet-popup-content-wrapper > div > div.url-copy-button > a > img {
  width: 20px;
}

div.popup-button a {
  background-color: #21ccb9;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #21ccb9;
  display: inline-block;
}
div.popup-button a:hover {
  background-color: #ffffff;
  color: #21ccb9;
  border: 1px solid #21ccb9;
}

/* end popup styling */

/*styling the two banners */

div.banners {
    background-color: #4d4d4d;
    position: absolute;
    top: 0;
    z-index: 2001;
    text-align: center;
    width: 100%;
    left: 0;
    padding: 10px 15px;
  }
  div.banner-title,
  div.banner-about {
    font-weight: bold;
    border: none;
    font-size: 20px;
    background-color: #4d4d4d;
    color: #ffffff;
    float: right;
  }

  #tier-dropdown label {
    font-weight: bold;
    border: none;
    font-size: 20px;
    background-color: #4d4d4d;
    color: #ffffff;
  }

  div.banner-title {
    left: 4px;
    text-align: left;
    float: left;
  }

  div.banner-about {
    right: 2px;
    cursor: pointer;
  }

div.about-text-popup {
  position: absolute;
  z-index: 2001;
  background-color: #ffffff;
  font-size: 18px;
  border: 1px solid rgba(186, 186, 186, 0.7);
  display: none;
  left: 10%;
  height: 60%;
  width: 80%;
  top: 120px;
  overflow: auto;
}

div.about-text-container {
  padding: 20px;

}

.about-close {
  float: right;
  cursor: pointer;
}

/*end styling the two banners*/

/*styling the copied link message */
div.copied-link-message {
  position: absolute;
  z-index: 2001;
  border-radius: 5px;
  top: 200px;
  width: 500px;
  text-align: center;
  background-color: #ffffff;
  left: 100px;
  font-size: 24px;
  border: 1px solid rgb(0, 0, 0);
  display: none;
}
/*end styling the copied link message */

/*styling layers button */
#map > div.leaflet-control-container > div.leaflet-top.leaflet-right {
  top: 152px !important;
  margin-left: 9px;
  right: auto;
}
/* end styling layers button*/

/*styling the donate button */
div.donate-button {
  /* background-color: #ffffff; */
  position: absolute;
  border-radius: 5px;
  left: 9px;
  bottom: 19px;
  z-index: 2001;
  width: 100px;
  /* margin: 10px 0 0 12px; */
}
div.donate-button a img {
  width: 100%;
  border-radius: 4px;
}

/*end styling the donate button */

.leaflet-top.leaflet-left {
  top: 52px;
}

.leaflet-grab {
  cursor: unset;
}

hr {
  margin: 10px 0;
}

.fa, .fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.fa-info-circle:before {
    content: "\f05a";
    margin-right: 10px;
}

.fa-external-link-alt:before {
    content: "\f35d";
    color: #fff;
}

.fa-circle-xmark:before {
    content: "\f057";
    color: #4d4d4d;
}

/* responsiveness of the popup */
@media only screen and (max-width: 830px) {
  .leaflet-popup-content-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 119px;
    width: 350px;
    border-radius: 10px;
    float: left;
    position: fixed;
    bottom: 32px;
    top: auto;
    right: 10px;
  }

  div.leaflet-popup-content-wrapper div div {
    width: 310px;
  }

  div.leaflet-popup-content {
    width: auto;
  }

  div.copied-link-message {
    width: 350px;
    left: 40px;
  }

  div.donate-button {
    bottom: 43px;
  }

  div.about-text-popup{
    top: 190px;
  }

  /* end of responsiveness of the popup */
}

@media only screen and (max-width: 625px) {
  div.banners {
    height: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }
  div.banner-title {
    font-size: 16px;
  }

  fieldset#tier-dropdown {
    position: absolute;
    left: 10px;
    top: 35px;
    z-index: 2005;
  }

  fieldset#tier-dropdown label {
    font-size: 14px;
  }

  #city-choice {
    font-size: 14px;
    padding: 0;
  }

  .leaflet-top.leaflet-left {
    top: 62px;
  }

  #map > div.leaflet-control-container > div.leaflet-top.leaflet-right {
    top: 162px !important;
  }
}

@media only screen and (max-width: 480px) {
  div.donate-button a img {
    width: 70%;
  }

  .leaflet-popup-content-wrapper {
    width: 280px;
    bottom: 40px;
  }

  div.leaflet-popup-content-wrapper div div {
    width: 240px;
  }
}
