@font-face {
  font-family: helveticaNeueRegular;
  src: url(HelveticaNeue\ Regular.ttf);
}

@font-face {
  font-family: helveticaNeueBold;
  src: url(HelveticaNeue\ Bold.ttf);
}

body {
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100%;
}

fieldset#tier-dropdown {
  font-family: helveticaNeueRegular;
  background-color: #ffffff;
  position: absolute;

  left: 50px;
  top: 52px;
  z-index: 2001;
  margin: 10px 0 0 12px;
}
#city-choice {
  font-size: 17px;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 33px;
  height: 33px;
}

/* popup styling */

.popup-fixed {
  position: fixed;
  /* top: 121px;
  bottom: 0 !important;
  left: 12px !important; */
  transform: none !important;
  margin: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  width: 365px;
  border-radius: 10px;
  float: right;
  position: fixed;
  right: 11px;
  top: 99px;
}
.leaflet-popup-content {
  font-family: helveticaNeueRegular;
  letter-spacing: 1px;
  width: 330px;
}
div.leaflet-popup-content-wrapper div div {
  width: 342px;
}

div.leaflet-popup-content-wrapper > div > div.title {
  color: #21ccb9;
  font-weight: bold;
  font-size: 16px;
}

div.leaflet-popup-content-wrapper div span.details-title,
div.leaflet-popup-content-wrapper div span.details-value {
  font-size: 14px;
  font-weight: 900;
  color: black;
}

div.leaflet-popup-content-wrapper span.details-value {
  color: #21ccb9;
}

div.leaflet-popup-content-wrapper > div > div.title {
  color: #21ccb9;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  width: 50%;
}
div.leaflet-popup-content-wrapper > div > div.url-copy-button {
  float: right;
  width: 0%;
  display: inline-block;
}
div.leaflet-popup-content-wrapper > div > div.url-copy-button:hover {
  cursor: pointer;
}

div.leaflet-popup-content-wrapper > div > div.url-copy-button > a > img {
  width: 20px;
}

div.popup-button a {
  background-color: #21ccb9;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #21ccb9;
}
div.popup-button a:hover {
  background-color: #ffffff;
  color: #21ccb9;
  border: 1px solid #21ccb9;
}

/* end popup styling */

/*styling the two banners */

div.banners {
    font-family: helveticaNeueBold;
    background-color: #4d4d4d;
    position: absolute;
    top: 0;
    z-index: 2001;
    font-size: 20px;
    text-align: center;
    width: 100%;
    left: 0;
    padding: 10px 15px;
  }
  div.banner-title,
  div.banner-about {
    border: none;
    background-color: #4d4d4d;
    color: #ffffff;
    float: right;
  }

  div.banner-title {
    left: 4px;
    text-align: left;
    float: left;
  }

  div.banner-about {
    right: 2px;
    cursor: pointer;
  }

div.about-text-popup {
  position: absolute;
  z-index: 2001;
  background-color: #ffffff;
  font-size: 24px;
  border: 1px solid rgba(186, 186, 186, 0.7);
  display: none;
  left: 10%;
  height: 60%;
  width: 80%;
  top: 120px;
}

div.about-text-container {
  padding: 20px;

}

/*end styling the two banners*/

/*styling the copied link message */
div.copied-link-message {
  position: absolute;
  z-index: 2001;
  border-radius: 5px;
  top: 200px;
  width: 500px;
  text-align: center;
  background-color: #ffffff;
  left: 100px;
  font-size: 24px;
  border: 1px solid rgb(0, 0, 0);
  display: none;
}
/*end styling the copied link message */

/*styling layers button */
#map > div.leaflet-control-container > div.leaflet-top.leaflet-right {
  top: 52px !important;
}
/* end styling layers button*/

/*styling the donate button */
div.donate-button {
  font-family: helveticaNeueRegular;
  /* background-color: #ffffff; */
  position: absolute;
  border-radius: 5px;
  left: 9px;
  bottom: 19px;
  z-index: 2001;
  width: 100px;
  /* margin: 10px 0 0 12px; */
}
div.donate-button a img {
  width: 100%;
  border-radius: 4px;
}
/*end styling the donate button */

/* responsiveness of the popup */
@media only screen and (max-width: 830px) {
  .leaflet-popup-content-wrapper {
    overflow-y: scroll;
    height: 119px;
    width: 365px;
    border-radius: 10px;
    float: left;
    position: fixed;
    bottom: 97px;
    top: auto;
    left: 10px;
  }
  
/*  div.banners {
    font-family: helveticaNeueRegular;
    background-color: #000000;
    position: absolute;
    top: 0;
    height: 60px;
    z-index: 2001;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    left: 0;
  }

  div.banner-title,
  div.banner-about {
    border: none;
    background-color: #000000;
    color: #ffffff;
    letter-spacing: 1px;
  }

  div.banner-title {
    left: 4px;
    width: 200px;
    text-align: left;
    padding-left: 10px;
  }

  div.banner-about {
    right: 2px;
  }*/
  
  /*styling layers button */
/*  #map > div.leaflet-control-container > div.leaflet-top.leaflet-right {
    top: 65px !important;
  }*/
  /* end styling layers button*/

  #map > div.leaflet-control-container > div.leaflet-top.leaflet-left {
    top: 65px;
  }

  fieldset#tier-dropdown {
    top: 65px;
  }

  div.copied-link-message {
    width: 350px;
    left: 40px;
  }

  div.donate-button {
    bottom: 43px;
  }

  div.about-text-popup{
    top: 190px;
  }

  /* end of responsiveness of the popup */
}

.leaflet-left {
  top: 52px;
}

.fa, .fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.fa-info-circle:before {
    content: "\f05a";
    margin-right: 10px;
}

.fa-external-link-alt:before {
    content: "\f35d";
    color: #fff;
}

