@use "colors";

a {
  color: colors.$link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: colors.$link-hover;
    text-decoration: underline;
  }
}

.external-link {
  &:hover {
    // We disable underlining because the icon won't have underlining
    // on hover, which looks weird.
    text-decoration: none;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    transform: rotate(-45deg);
    transform-origin: center;
  }
}
