@use "borders";
@use "colors";
@use "spacing";

@mixin flex-center($display: flex, $justify: center) {
  display: $display;
  align-items: center;
  justify-content: $justify;
}

@mixin panel-border {
  border: borders.$component-border;
  border-radius: borders.$border-radius;
}

@mixin icon-button-container($display: inline-flex) {
  cursor: pointer;
  height: spacing.$min-touch-target;
  width: spacing.$min-touch-target;

  @include flex-center($display);
}

@mixin hover-highlight($color: colors.$hover-white) {
  &:hover {
    background-color: $color;
  }
}
