@use "theme/borders";
@use "theme/colors";
@use "theme/spacing";
@use "theme/typography";
@use "theme/zindex";
@use "header";

$label-font-size: typography.$font-size-md;
$zoom-controls-top-offset: calc(
  58px + spacing.$map-controls-margin-top - header.$header-height
);

.leaflet-left .leaflet-control {
  margin-left: spacing.$map-controls-margin-x;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control,
.leaflet-control-layers.leaflet-control {
  border: borders.$component-border;
  border-radius: borders.$border-radius;
}

.leaflet-control-zoom.leaflet-bar {
  top: $zoom-controls-top-offset;

  a {
    width: spacing.$min-touch-target;
    height: spacing.$min-touch-target;
    font-size: $label-font-size;
    font-weight: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      color: unset;
      text-decoration: none;
    }

    &:first-child {
      border-bottom: borders.$component-inner-divider;
      border-top-left-radius: borders.$border-radius;
      border-top-right-radius: borders.$border-radius;
    }

    &:last-child {
      border-bottom-left-radius: borders.$border-radius;
      border-bottom-right-radius: borders.$border-radius;
    }
  }
}

.leaflet-touch.leaflet-control-layers-toggle {
  width: spacing.$min-touch-target;
  height: spacing.$min-touch-target;
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-right {
  $zoom-controls-height: calc(
    (spacing.$min-touch-target * 2) + borders.$border-thickness
  );
  top: calc(
    $zoom-controls-top-offset + $zoom-controls-height + spacing.$element-gap
  );
  margin-left: spacing.$map-controls-margin-x;
  right: auto;
}

.leaflet-top.leaflet-right,
.leaflet-control.leaflet-control-layers {
  z-index: zindex.$layers-control;
}

.leaflet-control-layers-selector {
  top: 0px;
}

.leaflet-control-layers-expanded {
  padding: 0px;
}

.leaflet-control-layers label {
  font-size: $label-font-size;
  line-height: 1;

  &:first-child {
    border-bottom: borders.$component-inner-divider;
  }

  display: flex;
  align-items: center;

  $padding-y: calc((spacing.$min-touch-target - $label-font-size) / 2);
  padding: $padding-y spacing.$element-gap;

  input[type="radio"] {
    margin: 0;
    vertical-align: middle;
  }

  &:hover {
    background-color: colors.$hover-white;
  }
}
