// Inspired by https://dev.to/alberto/defining-responsive-breakpoints-made-easy-with-sass-mixins-26p0.

$sm-width: "640px";
$md-width: "768px";
$lg-width: "1024px";
$xl-width: "1280px";

@mixin gt-xs() {
  @media screen and (min-width: $sm-width) {
    @content();
  }
}

@mixin gt-sm() {
  @media screen and (min-width: $md-width) {
    @content();
  }
}

@mixin gt-md() {
  @media screen and (min-width: $lg-width) {
    @content();
  }
}

@mixin gt-lg() {
  @media screen and (min-width: $xl-width) {
    @content();
  }
}
