$teal: hsl(173, 72%, 46%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 23.53%);
$gray-light: hsl(0, 0%, 30%);
$gray-light-translucent: hsla(0, 0%, 73%, 0.7);
$black: hsl(0, 0%, 0%);
$black-translucent: hsla(0, 0%, 0%, 0.2);
