// These values come from packages/shared.
$xs-width: 480px;
$sm-width: 640px;

@mixin gte-xs() {
  @media screen and (min-width: $xs-width) {
    @content();
  }
}

@mixin gte-sm() {
  @media screen and (min-width: $sm-width) {
    @content();
  }
}

// Make the header wider on large breakpoints.
.choices[data-type*="select-one"] {
  .choices__inner {
    @include gte-xs() {
      width: 245px;
    }
    @include gte-sm() {
      width: 270px;
    }
  }
}
