@use "theme/colors";

dd {
  margin-bottom: 10px;
}

.about-popup {
  position: absolute;
  z-index: 2001;
  background-color: colors.$white;
  font-size: 18px;
  border: 1px solid colors.$gray-translucent;
  display: none;
  left: 10%;
  height: 60%;
  width: 80%;
  top: 120px;
  overflow: auto;
  padding: 20px;

  @media only screen and (max-width: 830px) {
    top: 190px;
  }
}

.fa-circle-xmark {
  color: colors.$gray;
}

.about-popup-close-icon-container {
  float: right;
  cursor: pointer;
}
