@use "colors";

dd {
  margin-bottom: 10px;
}

div.about-text-popup {
  position: absolute;
  z-index: 2001;
  background-color: colors.$white;
  font-size: 18px;
  border: 1px solid colors.$gray-light-translucent;
  display: none;
  left: 10%;
  height: 60%;
  width: 80%;
  top: 120px;
  overflow: auto;
}

div.about-text-popup svg.fa-circle-xmark {
  color: colors.$gray-light;
}

div.about-text-container {
  padding: 20px;
}

.about-close {
  float: right;
  cursor: pointer;
}

@media only screen and (max-width: 830px) {
  div.about-text-popup {
    top: 190px;
  }
}
