@use "theme/colors";
@use "theme/touchable-icons";
@use "theme/typography";
@use "header";

$label-font-size: typography.$font-size-md;
$zoom-controls-top-offset: calc(64px - header.$header-height);
$outer-border-thickness: 2px;
$option-divider: 1px solid colors.$gray-translucent;

.leaflet-left .leaflet-control {
  margin-left: 8px;
}

.leaflet-control-zoom.leaflet-bar,
.leaflet-control-layers.leaflet-control {
  border: $outer-border-thickness solid colors.$gray-translucent;
  border-radius: 4px;
}

.leaflet-control-zoom.leaflet-bar {
  top: $zoom-controls-top-offset;

  a {
    width: touchable-icons.$min-touch-target;
    height: touchable-icons.$min-touch-target;
    font-size: $label-font-size;
    font-weight: normal;

    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      border-bottom: $option-divider;
    }
  }
}

.leaflet-touch.leaflet-control-layers-toggle {
  width: touchable-icons.$min-touch-target;
  height: touchable-icons.$min-touch-target;
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-right {
  $zoom-controls-height: calc(
    (touchable-icons.$min-touch-target * 2) + $outer-border-thickness
  );
  $margin-between-zoom-control: 8px;
  top: calc(
    $zoom-controls-top-offset + $zoom-controls-height +
      $margin-between-zoom-control
  );
  margin-left: 8px; // Mirrors zoom controls.
  right: auto;
}

.leaflet-control-layers-selector {
  top: 0px;
}

.leaflet-control-layers-expanded {
  padding: 0px;
}

.leaflet-control-layers label {
  font-size: $label-font-size;
  line-height: 1;

  &:first-child {
    border-bottom: $option-divider;
  }

  display: flex;
  align-items: center;

  $padding-y: calc((touchable-icons.$min-touch-target - $label-font-size) / 2);
  padding: $padding-y 8px;

  input[type="radio"] {
    margin: 0;
    vertical-align: middle;
  }
}
