@use "theme/breakpoints";

div.donate-button {
  position: absolute;
  left: 10px;
  z-index: 2001;

  // `bottom` is set so high to avoid covering the attribution
  // on small screens, since it wraps to two lines.
  bottom: 35px;
  @include breakpoints.gt-xs {
    bottom: 10px;
  }

  width: 90px;
  @include breakpoints.gt-sm {
    width: 105px;
  }

  a img {
    width: 100%;
    border-radius: 4px;
  }
}
