@use "theme/borders";
@use "theme/colors";
@use "theme/spacing";
@use "theme/typography";
@use "theme/zindex";

.choices {
  margin-bottom: 0;
}

.choices[data-type*="select-one"] {
  .choices__inner {
    color: colors.$black;
    font-size: typography.$font-size-base;
    line-height: 1.2; // To vertically center the text.

    height: spacing.$min-touch-target;
    width: 220px;

    border-top-left-radius: borders.$border-radius;
    border-top-right-radius: borders.$border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(.is-open) {
    .choices__inner {
      border-bottom-left-radius: borders.$border-radius;
      border-bottom-right-radius: borders.$border-radius;
    }
  }

  .choices__input {
    // Cannot be less than 16px due to iOS autozoom:
    //   https://weblog.west-wind.com/posts/2023/Apr/17/Preventing-iOS-Safari-Textbox-Zooming
    font-size: typography.$font-size-base;
  }
}

.choices__heading {
  font-size: typography.$font-size-sm;
  color: colors.$gray;
  cursor: default;
}

div.choices__item.choices__item--choice.choices__item--selectable {
  font-size: typography.$font-size-base;
  min-height: spacing.$min-touch-target;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  z-index: zindex.$dropdown;
  color: colors.$black;
}
