header {
  width: 100%;
  padding: 0.4em 1em;

  background-color: #4d4d4d;
  color: white;
  font-size: 1.3em;

  display: flex;
}

.header-icons {
  display: flex;

  cursor: pointer;

  svg {
    color: white;
  }

  .header-about-icon {
    margin-right: 0.75em;
  }

  margin-left: auto;
}

@media only screen and (min-width: 48em) {
  header {
    align-items: center;
    font-size: 1.75em;
  }

  .navigation {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 1em;
  }

  .site-title {
    flex: 1;
  }

  #city-dropdown {
    display: flex;
    align-items: center;
    gap: 0.7em;
    height: 40px;
    margin-bottom: 6px;
  }
}

#city-dropdown label {
  font-weight: normal;
}

.choices__inner {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  height: 40px;

  @media only screen and (min-width: 20em) {
    min-width: 20em;
  }
}

.choices__item--selectable {
  font-size: 14px;
  height: 40px;
}

.choices__input {
  font-size: 16px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  z-index: 1001;
  color: black;
}