header {
  width: 100%;
  padding: 0.4em 1em;

  background-color: #4d4d4d;
  color: white;
  font-size: 1.3em;

  display: flex;
}

.header-icons {
  display: flex;

  cursor: pointer;

  svg {
    color: white;
  }

  .header-about-icon {
    margin-right: 0.5em;
  }
}

@media only screen and (min-width: 48em) {
  header {
    align-items: center;
    font-size: 1.75em;
  }

  .navigation {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 1em;
  }

  .site-title {
    flex: 1;
  }
}

#city-dropdown label {
  font-weight: normal;
}

#city-choice {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
}
