@use "theme/breakpoints";
@use "theme/colors";

.prn-logo {
  position: absolute;
  left: 10px;
  z-index: 2001;

  // `bottom` is set so high to avoid covering the attribution
  // on small screens, since it wraps to two lines.
  bottom: 30px;
  @include breakpoints.gt-xs {
    bottom: 10px;
  }

  width: 120px;
  @include breakpoints.gt-sm {
    width: 140px;
  }

  img {
    background-color: colors.$white;
    width: 100%;
  }
}
