@use "theme/breakpoints";
@use "theme/colors";
@use "theme/spacing";
@use "theme/icons";
@use "theme/typography";
@use "header";

$outer-padding: 15px;
$padding-between-elements: 10px;
$border-radius: 10px;

.popup-fixed {
  position: fixed;
  transform: none !important;
  margin: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content-wrapper {
  width: 260px;
  @include breakpoints.gt-xxs {
    width: 280px;
  }

  padding: 0;
  padding-right: 1px;

  float: right;
  position: fixed;
  right: spacing.$map-controls-margin-x;
  top: calc(header.$header-height + spacing.$map-controls-margin-top);

  border-radius: $border-radius;
  color: colors.$black;

  p,
  li {
    font-size: typography.$font-size-base;
  }

  p {
    margin: 0;
    padding-left: $outer-padding;
    padding-right: $outer-padding;
  }
}

.scorecard-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: $outer-padding;
  margin-bottom: $padding-between-elements;
  margin-left: $outer-padding;
  margin-right: $outer-padding;
  line-height: 1.1;

  color: colors.$teal;
  font-weight: bold;
  font-size: typography.$font-size-xl;
}

.scorecard-accordion-toggle {
  height: spacing.$min-touch-target;
  width: 100%;
  padding: 0;
  margin-top: $padding-between-elements;

  font-size: typography.$font-size-base;
  cursor: pointer;
  text-align: left;
  padding-left: $outer-padding;
  padding-right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: colors.$white;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid colors.$gray-translucent;
  border-bottom: 0;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  .scorecard-accordion-title {
    flex: 1;
  }

  .scorecard-accordion-icon-container {
    height: spacing.$min-touch-target;
    width: spacing.$min-touch-target;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      height: icons.$icon-size-sm;
    }
  }
}

.scorecard-accordion-content {
  border-top: 1px solid colors.$gray-translucent;
  padding-top: $padding-between-elements;

  ul {
    padding: 0;
    padding-inline-start: 20px; // Default is 40px
    margin-left: $outer-padding;
    margin-right: $outer-padding;
    margin-bottom: $outer-padding;
    margin-top: $padding-between-elements;
  }
}

.reforms-link {
  &:hover {
    // We disable underlining because the font awesome icon won't
    // have underlining on hover, which looks weird.
    text-decoration: none;
  }

  svg {
    transform: rotate(-45deg);
  }
}

.community-contribution-warning {
  font-size: typography.$font-size-sm;
  color: colors.$gray;
  margin-top: $padding-between-elements;
  margin-bottom: $padding-between-elements;
  margin-left: $outer-padding;
  margin-right: $outer-padding;
}
