@use "theme/breakpoints";
@use "theme/colors";
@use "theme/typography";
@use "header";

.popup-fixed {
  position: fixed;
  transform: none !important;
  margin: 0;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  position: fixed;
  right: 10px;
  top: calc(header.$header-height + 10px);

  width: 270px;
  border-radius: 10px;
}

.scorecard-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;

  color: colors.$teal;
  font-weight: bold;
  font-size: typography.$font-size-xl;
  line-height: 1.1;
}

.details-title,
.details-value {
  font-size: typography.$font-size-base;
  color: colors.$black;
}

.community-tag {
  font-size: typography.$font-size-base;
  color: colors.$gray;
}

div.popup-button a {
  background-color: colors.$teal;
  padding: 10px;
  font-size: typography.$font-size-base;
  color: colors.$white;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: colors.$white;
    color: colors.$teal;
    border: 1px solid colors.$teal;
  }
}
