@use "about";
@use "controls";
@use "copied-link";
@use "donate";
@use "header";
@use "scorecard";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
}

body,
.leaflet-container {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

.leaflet-grab {
  cursor: unset;
}

hr {
  margin: 10px 0;
}
